{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false
    }]
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
